header {
  text-align: center;
  background-color: #EEE;
  margin-bottom: 20px;
  padding: 10px;
}
a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}
button {
  margin: 10px 0;

  &:hover {
    box-sizing: content-box;
    box-shadow: grey 2px 2px 20px;
    font-weight: 700;
  }
}
